Interface/EgyptianRecipes.Web/Service References/EgyptianRecipesService/EgyptianRecipesService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EgyptianRecipes.Entities.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EgyptianRecipes.Entities.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InheritDb">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsRemoved" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModified" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InheritDb" nillable="true" type="tns:InheritDb" />
</xs:schema>